// Pipeline parameters
params {
    max_cpus = 6
    max_mem = 8.Gb
    max_time = 120.h
}

// Process parameters
process {
  executor = 'local'
  cpus = { check_resources( params.threads * task.attempt, params.max_cpus) }
  memory = { check_resources( 1.Gb * task.attempt, params.max_mem) }
  time = { check_resources(1.h * task.attempt, params.max_time) }

  // Error strategy for failing tasks
    errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
    maxRetries = 3  // Number of times a task can fail
    maxErrors = '-1' // Turn off maxErrors

}

// Local machine parameters
executor {
  name = 'local'
  jobname = { "$task.name - $task.hash"}
  cpus = params.max_cpus
  memory = params.max_mem
}
