// Pipeline parameters
params {
    max_cpus = 32
    max_mem = 120.Gb
    max_time = 72.h
}

// Process parameters
process {
  
  executor = 'slurm'
  queue = { params.submission_queue }
  cpus = { check_resources( params.threads * task.attempt, params.max_cpus) }
  memory = { check_resources( params.memory * task.attempt, params.max_mem) }
  time = { check_resources(params.time * task.attempt, params.max_time) }
  clusterOptions = { "--mail-user=${params.email} --mail-type=FAIL" }

  // Error strategy for failing tasks
  errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1' // Turn off maxErrors

  conda = 'fastp fastqc stacks=2.52 samtools bcftools blast hmmer trinity transdecoder cd-hit bwa-mem2 gatk4 ete3 ete_toolchain'

  // conda = workflow.projectDir + '/environment.yaml' // What I want...

  // Change from withLabel once new version solves withName problem
  withLabel:fixCore {
      cpus = 4
  }

  withLabel:fastp {
    cpus = { params.qc_threads }
    memory = { check_resources(params.qc_memory * task.attempt, params.max_mem) }
    time = { check_resources(params.qc_time * task.attempt, params.max_time) }
  }

  withLabel:stacks {
    time = { check_resources(params.stacks_time * task.attempt, params.max_time) }
    cpus = { params.stacks_threads }
    memory = { check_resources( params.stacks_memory * task.attempt, params.max_mem) }
  }

  withLabel:codeml {
    time = { check_resources(params.codeml_time * task.attempt, params.max_time) }
    cpus = { params.codeml_threads }
    memory = { check_resources( params.codeml_memory * task.attempt, params.max_mem) }
  }

  withLabel:index {
    cpus = 1
    time = { check_resources(2.h * task.attempt, params.max_time) }
  }

  withLabel:bwa {
    time = { check_resources(params.consensus_time * task.attempt, params.max_time) }
    cpus = 8
    memory = { check_resources( params.consensus_memory * task.attempt, params.max_mem) }
  }

  withLabel:consensus {
    cpus = 1
    time = { check_resources(6.h * task.attempt, params.max_time) }
  }

  withLabel:trin {
    time = { check_resources(24.h * task.attempt, params.max_time) }
    cpus = { params.transcript_threads }
    memory = { check_resources( 50.Gb * task.attempt, params.max_mem) }
  }

  withLabel:cdhit {
    time = { check_resources(params.transcript_time * task.attempt, params.max_time) }
    cpus = { params.transcript_threads }
    memory = { check_resources(params.transcript_memory * task.attempt, params.max_mem) }
  }

  withLabel:homology {
    time = { check_resources(params.transcript_time * task.attempt, params.max_time) }
    cpus = { params.transcript_threads }
    memory = { check_resources(params.transcript_memory * task.attempt, params.max_mem) }
  }

  withLabel:transd {
    time = { check_resources(24.h * task.attempt, params.max_time) }
    cpus = 1
    memory = { check_resources( 4.Gb * task.attempt, params.max_mem) }
  }

  withLabel:varCall {
    time = { check_resources(params.variant_time * task.attempt, params.max_time) }
    cpus = { params.caller == 'bcftools' ? 1 : params.variant_threads }
    memory = { check_resources( params.variant_memory * task.attempt, params.max_mem) }
  }
}

conda {
  cacheDir = "${FASTDIR}/nf-conda_envs"
}

// Local machine parameters
executor {
  name = 'slurm'
  jobname = { "$task.name - $task.hash"}
  queueSize = { params.submission_queue } == 'test' ? 2 : 10000 // Max for any individual user
  submitRateLimit = '10 sec'
  queueSize = params.sub_workflows.contains('transcript_pipeline') == true ? 2 : 200
}
